
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  line-height: 1.4;
  transform: none;
/*color: rgb(118, 118, 118);
background: rgb(241, 242, 247);*/
font-family: 'Open Sans',sans-serif;
/*padding: 0px !important;
margin: 0px !important;
font-size: 13px;
text-rendering: optimizeLegibility;*/
}

.wrapper,
.header,
.footer {
  text-align: center;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.box {
  /*margin: 0 0 30px 0;*/
  /*padding: 30px;*/
  /*background: #eee;*/
  border-radius: 5px;
}

.box-bgr {
  background: #eee;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.image {
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

p {
  margin: 30px 0;
}

.col-md-4>div,
.col-md-12>div {
  border: 1px solid #0275d8;
  padding: 10px;
}

.content {
  width: 50%;
  float: left;
  position: relative;
}

.leftSidebar {
  width: 25%;
  float: left;
  padding: 0 30px 0 0;
  position: relative;
}

.rightSidebar {
  width: 25%;
  float: right;
  padding: 0 0 0 30px;
  position: relative;
}

button {
  margin: 0 0 30px 0;
}

.theiaStickySidebar:after {
  content: "";
  display: table;
  clear: both;
}


/* blog content */
/** {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans';
  font-size: 16px;
  line-height: 1.4;
  background: #d8e0e5;
}*/

.card {
  /*position: absolute;
  top: 50%;*/
  /*top: 346%;*/
  /*left: 50%;
  width: 376px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;*/
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.cardTitle {
  margin: 18px;
font-size: 26px;
color: rgb(0, 0, 0);
font-weight: bold;
text-align: left;
}

.cardDesc{
  margin: 18px;
font-size: 15px;
color: rgb(0, 0, 0);
text-align: left;
padding-bottom: 3px;
padding-top: 20px;
}

.cardCategory {
  position: absolute;
top: 0;
left: 0;
height: 25px;
padding: 0 15px;
background: rgb(24, 198, 155);
color: rgb(255, 255, 255);
font-size: 13px;
line-height: 25px;
}

.cardFooter{
  position: absolute;
color: rgb(163, 169, 171);
left: 20px;
right: 20px;
font-size: 11px;
margin-top: 5px;
}
.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card__date {
  background: #08c;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  padding-top: 10px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card__thumb {
  height: 235px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.card__thumb img {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.card:hover .card__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.card:hover .card__thumb {
  height: 90px;
}

.card__body {
  position: relative;
  padding: 20px;
  height: 185px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.card:hover .card__body {
  height: 330px;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background: #08c;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
}
.card__category a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.card__title {
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
.card:hover .card__title {
  -webkit-animation: titleBlur 0.3s;
          animation: titleBlur 0.3s;
}

.card__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  color: #08c;
  font-size: 19px;
}
.card:hover .card__subtitle {
  -webkit-animation: subtitleBlur 0.3s;
          animation: subtitleBlur 0.3s;
}

.card__description {
  /*position: absolute;*/
  left: 20px;
  right: 20px;
  bottom: 65px;
  margin: 0;
  padding: 0;
  color: #666c74;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  /*-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);*/
}
.card:hover .card__description {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__footer {
  position: absolute;
  color: #a3a9ab;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-size: 11px;
}
.card__footer .icon--comment {
  margin-left: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.icon:before {
  display: inline-block;
  text-align: center;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  margin-right: 6px;
}

.icon--comment:before {
  content: "\f0e6 ";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.icon--time:before {
  content: "\f017 ";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@-webkit-keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent;
  }
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent;
  }
}
@-webkit-keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0);
  }
}
@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(0, 136, 204, 0);
  }
}
