<%- include('assets/partials/content',{my_title:"404",folder:"../"})%>

<div class="body-404">

    <div class="error-head"> </div>

    <div class="container ">

      <section class="error-wrapper text-center">
          <h1><img src="../assets/images/404.png" alt=""></h1>
          <div class="error-desk">
              <h2>page not found</h2>
              <p class="nrml-txt">We Couldn’t Find This Page</p>
          </div>
          <a href="index.html" class="back-btn"><i class=""></i> Back To Home</a>
      </section>

    </div>

</div>
