<%- include('assets/partials/content',{my_title:"Blog - Home",folder:"../../../"})%>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.11&appId=1661135150604477';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="container">
    <div id="sidebar">
      <div class="sidebar__inner">
        <div class="ads">
          <img src="../../../assets/images/drupa2020_medium_rectangle_300x250px.jpg" alt="">
        </div>
        <div class="cont">
          <div class="side_title">
            <p>Graecis vituperatoribus sed te mel exerci inermis.</p>
          </div>
          <p>Decore aliquando has in, mel exerci inermis an. Phaedrum consequat cum ex, harum
          legere ad qui. Ea quo movet omnium</p>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="post_title">
        <%=dataPost.title%>
      </div>
        <div class="post_content">
          <%-dataPost.article%><br/>
        </div>
        <div class="">
          <h4>Category: </h4>
          <%dataPost.Categories.forEach(category=>{%>
            <a href="" type="button" class="btn btn-xs btn-success"><%=category.category_name%></a>
          <%})%>
        </div>
    </div>
  </div>
  <footer>
    <p>Very Tall Footer</p>
  </footer>

  <!-- <script type="text/javascript" src="js/rAF.js"></script> -->
  <!-- <script type="text/javascript" src="js/ResizeSensor.js"></script> -->
  <script type="text/javascript" src="../../assets/js/sticky-sidebar.js"></script>
  <script type="text/javascript">
    var a = new StickySidebar('#sidebar', {
      topSpacing: 20,
      bottomSpacing: 20,
      containerSelector: '.container',
      innerWrapperSelector: '.sidebar__inner'
    });
  </script>
  </body>

  </html>
