<%- include('assets/partials/content',{my_title:"Blog - Home",folder:""})%>

    <div class="container_article_page">
    <div id="sidebar">
      <div class="sidebar__inner">
        <p>This is sticky column</p>
      </div>
    </div>
    <div id="content_article_page">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempus id leo et aliquam. Proin consectetur ligula vel neque cursus laoreet. Nullam dignissim, augue at consectetur pellentesque, metus ipsum interdum sapien, quis ornare quam enim vel ipsum.</p>

      <p>In congue nunc vitae magna tempor ultrices. Cras ultricies posuere elit. Nullam ultrices purus ante, at mattis leo placerat ac. Nunc faucibus ligula nec lorem sodales venenatis. Curabitur nec est condimentum, blandit tellus nec, semper arcu. Nullam in porta ipsum, non consectetur mi. Sed pharetra sapien nisl. Aliquam ac lectus sed elit vehicula scelerisque ut vel sem. Ut ut semper nisl.</p>

      <p>Curabitur rhoncus, arcu at placerat volutpat, felis elit sollicitudin ante, sed tempus justo nibh sed massa. Integer vestibulum non ante ornare eleifend. In vel mollis dolor.</p>
    </div>
    </div>

    <footer>
    <p>Very Tall Footer</p>
    </footer>

    <!-- <script type="text/javascript" src="js/rAF.js"></script> -->
    <!-- <script type="text/javascript" src="js/ResizeSensor.js"></script> -->
    <script type="text/javascript" src="../assets/js/sticky-sidebar.js"></script>
    <script type="text/javascript">

    var a = new StickySidebar('#sidebar', {
      topSpacing: 20,
      bottomSpacing: 20,
      containerSelector: '.container',
      innerWrapperSelector: '.sidebar__inner'
    });
    </script>
	</body>
</html>
