<%- include('assets/partials/dashboard-header',{my_title:'Dashboard - All Post',folder:'../../'})%>

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
    <!-- page start-->
    <div class="row">
      <div class="col-md-3">
          <div class="mini-stat clearfix">
              <span class="mini-stat-icon tar"><i class="fa fa-pencil"></i></span>
              <div class="mini-stat-info">
                  <span>22,450</span>
                  Total Article
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="mini-stat clearfix">
              <span class="mini-stat-icon orange"><i class="fa fa-user"></i></span>
              <div class="mini-stat-info">
                  <span>320</span>
                  New Sign Up User
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="mini-stat clearfix">
              <span class="mini-stat-icon pink"><i class="fa fa-users"></i></span>
              <div class="mini-stat-info">
                  <span>34,320</span>
                  Total User
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="mini-stat clearfix">
              <span class="mini-stat-icon green"><i class="fa fa-eye"></i></span>
              <div class="mini-stat-info">
                  <span>32720</span>
                  Unique Visitors
              </div>
          </div>
      </div>
    </div>

    <!-- page end-->
    </section>
</section>
<!--main content end-->

<%- include('assets/partials/dashboard-footer',{folder:'../../'})%>
