<%- include('assets/partials/dashboard-header',{my_title:'Dashboard - All Post',folder:'../../'})%>

<!--main content start-->
<section id="main-content">
    <h1>boooo</h1>
</section>
<!--main content end-->

<%- include('assets/partials/dashboard-footer',{folder:'../../'})%>
