<%- include('assets/partials/log-sign-header',{my_title:'Blog - Register',folder:''})%>

    <div class="container">

      <form class="form-signin" action="/register" method="post">
        <h2 class="form-signin-heading">registration form</h2>
        <div class="login-wrap">
            <p>Enter your personal details below</p>
            <input type="text" name="first_name" class="form-control" placeholder="First Name" autofocus>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name" autofocus>
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
            <select name="gender" class="form-control m-bot15">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <input type="text" name="blog_name" class="form-control" placeholder="Blog Name" autofocus>
            <input name="username" type="text" class="form-control" placeholder="User Name" autofocus>
            <input name="password" type="password" class="form-control" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

            <div class="registration">
                Already Registered.
                <a class="" href="/login">
                    Login
                </a>
            </div>

        </div>

      </form>

    </div>
<%- include('assets/partials/log-sign-footer',{folder:''})%>
