<%- include('assets/partials/log-sign-header',{my_title:'Blog - Login',folder:''})%>

    <div class="container">

      <form class="form-signin" action="/register" method="post">
        <h2 class="form-signin-heading">registration form</h2>
        <div class="login-wrap">
            <p>Enter your personal details below</p>
            <input type="text" name="first_name" class="form-control" placeholder="First Name" autofocus>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name" autofocus>
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
            <div name="gender" class="radios">
                <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                    <input id="radio-01" value="male" type="radio" checked /> Male
                </label>
                <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                    <input id="radio-02" value="female" type="radio" /> Female
                </label>
            </div>


            <input name="username" type="text" class="form-control" placeholder="User Name" autofocus>
            <input name="password" type="password" class="form-control" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

            <div class="registration">
                Already Registered.
                <a class="" href="/login">
                    Login
                </a>
            </div>

        </div>

      </form>

    </div>
<%- include('assets/partials/log-sign-footer',{folder:''})%>
